* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
    list-style: none;
    text-decoration: none;
}

/* Start Sheared Style */
.display-flex {
    display: flex;
}

.text-primary {
    color: #FF900E;
}

.text-gray {
    color: #424242;
}

.text-light-gray {
    color: #727272;
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary {
    background-color: #FF900E;
    color: whitesmoke;
    padding: 20px 25px;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    border-radius: 10px;
}

main {
    max-width: 1440px;
    margin: auto;
}

main > section {
    margin: 120px 0;
}

.section-tittle {
    font-size: 2.8rem;
    font-weight: 700;
}

/* End Sheared Style */

/* Header Styles */



/* Navbar related styles */
.navbar {
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.brand {
    font-weight: bold;
    font-size:  3rem;
}

.nav-item {
    margin-right: 30px;
}

.nav-link {
    font-weight: 500;
}

.navbar, .banner {
    max-width: 1440px;
    margin: auto;
}

/* Banner Related Style */
.banner-content {
    max-width: 850px;
    margin: 50px auto;
    text-align: center;
    
}

.banner-tittle {
    font-size: 4rem;
    font-weight: 700;
}

.banner-descrip {
    margin: 32px 0;
}

.banner-img {
    width: 100%;
}

/* Team and feature related styles */
.teams {
    gap: 1.5rem;
    align-items: center;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    
}

.our-features {
    margin-left: 130px;
    max-width: 530px;
}


#quick-list {
    font-weight: 500;
}

.feature-descrip {
    margin: 1.5rem 0;
}

/* some facts related style */
.facts-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.fact-card {
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.fact-num {
    font-size: 2.8rem;
    font-weight: 600;
    margin: 5px 0 10px;
}

.fact-name {
    font-size: 1.2rem;
    font-weight: 600;
    
}

.fact-descrip {
    max-width: 540px;
    margin: 20px 0;
}

/* Our Sponsors */
.sponsors-info {
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}

.sponsors-company {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.sponsors-company img {
    filter: grayscale(100%);
}








@media screen and (max-width: 576px) {
    .navbar, 
    .nav-links, 
    .teams {
        flex-direction: column;
    }

    .nav-links {
        margin-top: 20px;
    }

    .team-img-container,
    .facts-container, 
    .sponsors-company
    {
        grid-template-columns:  1fr;
    }
    
    .our-features {
        margin-left: 20px;
    }

    .facts-container {
        justify-items: center;
        gap: 24px;
    }

    .sponsors-company {
        gap: 30px;
        justify-items: center;
    }
}

/* Medium size device */
@media screen and (min-width: 576px) and (max-width: 992px){
    .teams {
        flex-direction: column;
    }

    .our-features {
        margin: 50px auto;
    }

    .sponsors-company, .facts-container {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
}
